<section class="section-admin">
    <div class="row">
    <h2> Welcome {{name}}</h2>
    <p class="long-copy">Manage sommy's catering from this dashboard. Check the orders tab to view your list of orders and messages to view your users feedback</p>
</div>
</section>