<section class="about-gallery js--section-2">
    <div class="row">
        <h2>Gallery</h2>
        <p class="long-copy">Looking for something delicious? Explore our elegant collection of pastries and confectioneries to find the taste of your desire.</p>
    </div>
</section>
<section class="cakes-type gallery-item">
    <div class="row desciption">
        <h3>Cake</h3>
    </div>
    <div class="row showcase">
        <div class="col span-1-of-3">
            <div class="content-box clearfix">
                <img src="resources/img/sponge.jpg" alt="SOFT SPONGE CAKE">
                <a>SOFT SPONGE CAKE</a>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="content-box clearfix">
                <img src="resources/img/RED-VELVET.jpg" alt="Red velvet cake">
                <p>RED VELVET CAKE</p>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="content-box clearfix">
                <img src="resources/img/chocolate.jpg" alt="CHOCOLATE CAKE">
                <p>CHOCOLATE CAKE</p>
            </div>
        </div>
    </div>
    <div class="row showcase">
        <div class="col span-1-of-3">
            <div class="content-box">
                <img src="resources/img/vanilla.jpg" alt="VANILLA CAKE">
                <p>VANILLA CAKE</p>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="content-box">
                <img src="resources/img/fondant.jpg" alt="FONDANT ICED CAKE">
                <p>FONDANT ICED CAKE</p>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="content-box">
                <img src="resources/img/butter.jpg" alt="BUTTER ICED CAKE">
                <p>BUTTER ICED CAKE</p>
            </div>
        </div>
    </div>
</section>

<section class="meatpie-display gallery-item">
    <div class="row desciption">
        <h3>MEATPIE</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/meatpie.jpg" alt="MEATPIE">
            <p>MEATPIE</p>
        </div>
        </div> 
    </div>
</section>

<section class="samosa-display gallery-item">
    <div class="row desciption">
        <h3>SAMOSA</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/samosa.jpg" alt="SAMOSA">
            <p>SAMOSA</p>
        </div>
        </div> 
    </div>
</section>

<section class="puff-display gallery-item">
    <div class="row desciption">
        <h3>PUFF PUFF</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/puff-puff.jfif" alt="PUFF PUFF">
            <p>PUFF PUFF</p>
        </div>
        </div> 
    </div>
</section>

<section class="chin-display gallery-item">
    <div class="row desciption">
        <h3>CHIN CHIN</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/short-chin-chin.jpg" alt="SHORT CHIN CHIN">
            <p>SHORT CHIN CHIN</p>
        </div>
        </div>
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/long-chin-chin.jpg" alt="LONG CHIN CHIN">
            <p>LONG CHIN CHIN</p>
        </div>
        </div>
    </div>
</section>

<section class="peanuts-display gallery-item">
    <div class="row desciption">
        <h3>PEANUTS</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/peanut-burger-recipe.jpg" alt="PEANUTS">
            <p>PEANUTS</p>
        </div>
        </div>
    </div>
</section>

<section class="susage-display gallery-item">
    <div class="row desciption">
        <h3>SAUSAGE</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/sausage.jpg" alt="SAUSAGE">
            <p>SAUSAGE</p>
        </div>
        </div> 
    </div>
</section>

<section class="pizza-display gallery-item">
    <div class="row desciption">
        <h3>PIZZA</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/pizza.png" alt="PIZZA">
            <p>PIZZA</p>
        </div>
        </div> 
    </div>
</section>

<section class="cookies-display gallery-item">
    <div class="row desciption">
        <h3>BUTTER COOKIES</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/Butter_Cookies.jpg" alt="BUTTER COOKIES">
            <p>BUTTER COOKIES</p>
        </div>
        </div> 
    </div>
</section>

<section class="bread-pizza-display gallery-item">
    <div class="row desciption">
        <h3>BREAD PIZZA</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/bread-pizza.jpg" alt="BREAD PIZZA">
            <p>BREAD PIZZA</p>
        </div>
        </div> 
    </div>
</section>
<section class="bread-display gallery-item">
    <div class="row desciption">
        <h3>BREAD</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/bread.jpg" alt="BREAD">
            <p>BREAD</p>
        </div>
        </div> 
    </div>
</section>

<section class="popcorn-display gallery-item">
    <div class="row desciption">
        <h3>POP CORN</h3>
    </div>
    <div class=" row showcase">
        <div class="col span-1-of-3">
        <div class="content-box clearfix">
            <img src="resources/img/pop-corn.jpg" alt="POP CORN">
            <p>POP CORN</p>
        </div>
        </div> 
    </div>
</section>